.navbar {
    display: flex;           
    justify-content: flex-end; 
    align-items: center;    
    padding-right: 3rem; 
}

.navbar .navbar_menu {
    list-style: none;       
    display: flex;           
    gap: 3rem;             
    margin: 0;
    padding-right: 2rem;

}
.navbar .navbar_menu li{
    
    width: 158px;
    height: 48px;

}
.navbar .navbar_menu li a{
    text-decoration: none;
    color: #C8A7A7;
        font-family: 'NATS', sans-serif;

        display: flex;            
    justify-content: center; 
    align-items: center;     
    width: 9rem;           
    height: 3rem;             
    border-radius: 8px;
        
}